build/
Makefile
qjsonrpc.pro.user
tests/
*.o
*.moc
src/libqjsonrpc.so
src/libqjsonrpc.so.1
src/libqjsonrpc.so.1.1
src/libqjsonrpc.so.1.1.0
debian/*.substvars
.qmake.stash
debian/.debhelper/
debian/*.log
debian/libqjsonrpc-dev/
debian/libqjsonrpc/
debian/stamp-makefile-build
debian/stamp-makefile-install
debian/tmp/
src/libqjsonrpc.prl
src/moc_predefs.h
src/moc_qjsonrpchttpclient.cpp
src/moc_qjsonrpchttpserver.cpp
src/moc_qjsonrpchttpserver_p.cpp
src/moc_qjsonrpclocalserver.cpp
src/moc_qjsonrpcservice.cpp
src/moc_qjsonrpcservicereply.cpp
src/moc_qjsonrpcsocket.cpp
src/moc_qjsonrpctcpserver.cpp
src/pkgconfig/
